In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('../data/raw/500_Cities__Local_Data_for_Better_Health__2018_release.csv')

In [4]:
data.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'Geolocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810103 entries, 0 to 810102
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Year                        810103 non-null  int64
 1   StateAbbr                   810103 non-null  object
 2   StateDesc                   810103 non-null  object
 3   CityName                    810047 non-null  object
 4   GeographicLevel             810103 non-null  object
 5   DataSource                  810103 non-null  object
 6   Category                    810103 non-null  object
 7   UniqueID                    810103 non-null  object
 8   Measure                     810103 non-null  object
 9   Data_Value_Unit             810103 non-null  object
 10  DataValueTypeID             810103 non-null  object
 11  Data_Value_Type             810103 non-null  object
 12  Data_Value                  787311 non-null  float64
 13  Low_Confidence_Limit        787311 non-null  float64
 14  High_Confidence_Limit       787311 non-null  float64
 15  Data_Value_Footnote_Symbol  22794 non-null   object
 16  Data_Value_Footnote         22794 non-null   object
 17  PopulationCount             810103 non-null  int64
 18  Geolocation                 810047 non-null  object
 19  CategoryID                  810103 non-null  object
 20  MeasureId                   810103 non-null  object
 21  CityFIPS                    810047 non-null  float64
 22  TractFIPS                   782047 non-null  float64
 23  Short_Question_Text         810103 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 148.3+ MB

In [6]:
data.isna().sum()

Year                               0
StateAbbr                          0
StateDesc                          0
CityName                          56
GeographicLevel                    0
DataSource                         0
Category                           0
UniqueID                           0
Measure                            0
Data_Value_Unit                    0
DataValueTypeID                    0
Data_Value_Type                    0
Data_Value                     22792
Low_Confidence_Limit           22792
High_Confidence_Limit          22792
Data_Value_Footnote_Symbol    787309
Data_Value_Footnote           787309
PopulationCount                    0
Geolocation                       56
CategoryID                         0
MeasureId                          0
CityFIPS                          56
TractFIPS                      28056
Short_Question_Text                0
dtype: int64

In [7]:
data['Measure'].values

array(['High blood pressure among adults aged >=18 Years',
       'High blood pressure among adults aged >=18 Years',
       'High blood pressure among adults aged >=18 Years', ...,
       'Coronary heart disease among adults aged >=18 Years',
       'Mental health not good for >=14 days among adults aged >=18 Years',
       'All teeth lost among adults aged >=65 Years'], dtype=object)

In [8]:
data.Year.value_counts()

2016    694079
2015    116024
Name: Year, dtype: int64

In [9]:
data.Short_Question_Text.value_counts()

High Blood Pressure                         29006
Physical Inactivity                         29006
Obesity                                     29006
Coronary Heart Disease                      29006
Cancer (except skin)                        29006
Cholesterol Screening                       29006
Current Smoking                             29006
Dental Visit                                29006
Mental Health                               29006
Sleep <7 hours                              29006
Taking BP Medication                        29006
Arthritis                                   29006
High Cholesterol                            29006
Annual Checkup                              29006
Current Asthma                              29006
Binge Drinking                              29006
Diabetes                                    29006
Physical Health                             29006
COPD                                        29006
Chronic Kidney Disease                      29006
Stroke                                      29006
Health Insurance                            28973
Pap Smear Test                              28912
Colorectal Cancer Screening                 28847
Mammography                                 28727
Teeth Loss                                  28601
Core preventive services for older men      28464
Core preventive services for older women    28453
Name: Short_Question_Text, dtype: int64

In [10]:
data[['Short_Question_Text','PopulationCount']]

           Short_Question_Text  PopulationCount
0          High Blood Pressure            76794
1          High Blood Pressure            66790
2          High Blood Pressure           122643
3          High Blood Pressure           153015
4        Cholesterol Screening           103190
...                        ...              ...
810098          Binge Drinking             3346
810099         Current Smoking             6253
810100  Coronary Heart Disease             5155
810101           Mental Health             3095
810102              Teeth Loss             1733

[810103 rows x 2 columns]

In [11]:
Colorado.groupby(['Measure'])

NameError: name 'Colorado' is not defined

In [15]:
Colorado = data[data.StateAbbr=='CO']
Colorado = Colorado.set_index(['Year', 'Measure'])
Colorado = Colorado.groupby('Measure')[['Data_Value' ,'PopulationCount']]
Colorado
# for name, group in Colorado:
#     print(name)
#     print(group)

In [16]:
Colorado_Measure = Colorado.groupby('Measure')
Colorado_Measure['Year', 'Measure', 'Data_Value', 'PopulationCount']

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [14]:
Colorado_grouped = Colorado.groupby('Measure')
for name, group in Colorado_grouped.head(5):
    print(name)
    print(group)

NameError: name 'Colorado' is not defined

In [49]:
data.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'Geolocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [12]:
Colorado_state = Colorado_grouped.set_index(['Year','Measure'])
Colorado_state.head()

NameError: name 'Colorado_grouped' is not defined

In [13]:
Colorado_grouped['Measure','High_Confidence_Limit', 'Low_Confidence_Limit','PopulationCount'].head()

NameError: name 'Colorado_grouped' is not defined

In [50]:

for name, group in Colorado_grouped['Measure','High_Confidence_Limit', 'Low_Confidence_Limit','PopulationCount']:
    print(name)
    print(group)

CO
        Year StateAbbr StateDesc          CityName GeographicLevel DataSource  \
20      2015        CO  Colorado  Colorado Springs            City      BRFSS
89      2015        CO  Colorado       Westminster    Census Tract      BRFSS
115     2015        CO  Colorado            Denver    Census Tract      BRFSS
128     2016        CO  Colorado           Boulder    Census Tract      BRFSS
141     2016        CO  Colorado            Aurora    Census Tract      BRFSS
...      ...       ...       ...               ...             ...        ...
809885  2016        CO  Colorado  Colorado Springs    Census Tract      BRFSS
809962  2016        CO  Colorado       Westminster    Census Tract      BRFSS
810007  2016        CO  Colorado  Colorado Springs    Census Tract      BRFSS
810028  2016        CO  Colorado      Fort Collins    Census Tract      BRFSS
810050  2016        CO  Colorado           Greeley    Census Tract      BRFSS

                   Category             UniqueID  \
20          Health Outcomes              0816000
89          Health Outcomes  0883835-08059010209
115              Prevention  0820000-08031000303
128         Health Outcomes  0807850-08013012103
141     Unhealthy Behaviors  0804000-08005084500
...                     ...                  ...
809885      Health Outcomes  0816000-08041005900
809962      Health Outcomes  0883835-08059060500
810007           Prevention  0816000-08041004703
810028      Health Outcomes  0827425-08069001708
810050  Unhealthy Behaviors  0832155-08123000502

                                                  Measure Data_Value_Unit  \
20       High blood pressure among adults aged >=18 Years               %
89       High blood pressure among adults aged >=18 Years               %
115     Cholesterol screening among adults aged >=18 Y...               %
128                Arthritis among adults aged >=18 Years               %
141                  Obesity among adults aged >=18 Years               %
...                                                   ...             ...
809885    Diagnosed diabetes among adults aged >=18 Years               %
809962  Chronic kidney disease among adults aged >=18 ...               %
810007  Older adult men aged >=65 Years who are up to ...               %
810028        All teeth lost among adults aged >=65 Years               %
810050       Current smoking among adults aged >=18 Years               %

        ... High_Confidence_Limit Data_Value_Footnote_Symbol  \
20      ...                  24.7                        NaN
89      ...                  23.0                        NaN
115     ...                  79.5                        NaN
128     ...                  21.4                        NaN
141     ...                  23.0                        NaN
...     ...                   ...                        ...
809885  ...                   8.3                        NaN
809962  ...                   1.6                        NaN
810007  ...                  43.7                        NaN
810028  ...                  11.7                        NaN
810050  ...                  28.1                        NaN

        Data_Value_Footnote  PopulationCount  \
20                      NaN           416427
89                      NaN             3107
115                     NaN             4504
128                     NaN             3623
141                     NaN             2708
...                     ...              ...
809885                  NaN             6573
809962                  NaN             1551
810007                  NaN             6182
810028                  NaN             3102
810050                  NaN             3313

                                 Geolocation CategoryID   MeasureId  CityFIPS  \
20      POINT (-104.760664479 38.8672748077)    HLTHOUT      BPHIGH  816000.0
89       POINT (-105.059948429 39.831983378)    HLTHOUT      BPHIGH  883835.0
115     POINT (-105.032302333 39.7639664662)    PREVENT  CHOLSCREEN  820000.0
128     POINT (-105.265746293 40.0443960756)    HLTHOUT   ARTHRITIS  807850.0
141       POINT (-104.78512956 39.656094424)     UNHBEH     OBESITY  804000.0
...                                      ...        ...         ...       ...
809885   POINT (-104.735140704 38.858260743)    HLTHOUT    DIABETES  816000.0
809962  POINT (-105.128912946 39.8878946543)    HLTHOUT      KIDNEY  883835.0
810007  POINT (-104.763445357 38.9205830298)    PREVENT       COREM  816000.0
810028  POINT (-105.061060017 40.4876141778)    HLTHOUT   TEETHLOST  827425.0
810050   POINT (-104.704670756 40.426667487)     UNHBEH    CSMOKING  832155.0

           TractFIPS                     Short_Question_Text
20               NaN                     High Blood Pressure
89      8.059010e+09                     High Blood Pressure
115     8.031000e+09                   Cholesterol Screening
128     8.013012e+09                               Arthritis
141     8.005084e+09                                 Obesity
...              ...                                     ...
809885  8.041006e+09                                Diabetes
809962  8.059060e+09                  Chronic Kidney Disease
810007  8.041005e+09  Core preventive services for older men
810028  8.069002e+09                              Teeth Loss
810050  8.123001e+09                         Current Smoking

[20549 rows x 24 columns]

/Users/willsullivan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [69]:
data[['StateAbbr', 'CityName','Measure','Low_Confidence_Limit', 'High_Confidence_Limit', 'PopulationCount']].groupby(['StateAbbr','Measure']).sum()

                                                              Low_Confidence_Limit  \
StateAbbr Measure
AK        All teeth lost among adults aged >=65 Years                        551.6
          Arthritis among adults aged >=18 Years                            1089.4
          Binge drinking among adults aged >=18 Years                       1063.7
          Cancer (excluding skin cancer) among adults age...                 284.5
          Cholesterol screening among adults aged >=18 Years                3815.3
...                                                                            ...
WY        Sleeping less than 7 hours among adults aged >=...                 574.4
          Stroke among adults aged >=18 Years                                 43.1
          Taking medicine for high blood pressure control...                1278.2
          Visits to dentist or dental clinic among adults...                1176.9
          Visits to doctor for routine checkup within the...                1129.5

                                                              High_Confidence_Limit  \
StateAbbr Measure
AK        All teeth lost among adults aged >=65 Years                         998.2
          Arthritis among adults aged >=18 Years                             1198.0
          Binge drinking among adults aged >=18 Years                        1136.0
          Cancer (excluding skin cancer) among adults age...                  307.0
          Cholesterol screening among adults aged >=18 Years                 4023.2
...                                                                             ...
WY        Sleeping less than 7 hours among adults aged >=...                  621.5
          Stroke among adults aged >=18 Years                                  54.4
          Taking medicine for high blood pressure control...                 1316.4
          Visits to dentist or dental clinic among adults...                 1289.8
          Visits to doctor for routine checkup within the...                 1161.8

                                                              PopulationCount
StateAbbr Measure
AK        All teeth lost among adults aged >=65 Years                  875478
          Arthritis among adults aged >=18 Years                       875478
          Binge drinking among adults aged >=18 Years                  875478
          Cancer (excluding skin cancer) among adults age...           875478
          Cholesterol screening among adults aged >=18 Years           875478
...                                                                       ...
WY        Sleeping less than 7 hours among adults aged >=...           178398
          Stroke among adults aged >=18 Years                          178398
          Taking medicine for high blood pressure control...           178398
          Visits to dentist or dental clinic among adults...           178398
          Visits to doctor for routine checkup within the...           178398

[1456 rows x 3 columns]